{% extends "template.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class=""border-bottom mb4>Example Form</legend>
            <div class="form-group">
                {{ form.name.label }}
                {% if form.name.errors %}
                    {{ form.name }}
                    {% for error in form.name.errors %}
                        {{ error }}
                    {% endfor %}
                {% else %}
                    {{ form.name }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email.label }}
                {% if form.email.errors %}
                    {{ form.email }}
                    {% for error in form.email.errors %}
                        {{ error }}
                    {% endfor %}
                {% else %}
                    {{ form.email }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit }}
            </div>
        </fieldset>
    </form>
</div>
<h2>Contents of form page...</h2>
{% endblock content %}